html{
    background-color: black;
  }

  h1,p{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
  }

  h1{
    text-transform: uppercase;
  }

  img{
    width: 100%;
    border: 5px solid white;
  }

  div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }
